<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ariz.projectsample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/guidel"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/funny"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.ariz.projectsample.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.ariz.projectsample.Main2Activity" />
        <activity
            android:name="com.example.ariz.projectsample.WikiActivity"
            android:label="@string/wiki" />
        <activity
            android:name="com.example.ariz.projectsample.SplashScreen"
            android:label="Tourist Guide"
            android:theme="@style/AppTheme.NoActionBar1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.ariz.projectsample.CityActivity" />
        <activity android:name="com.example.ariz.projectsample.PlaceActivity" />
        <activity android:name="com.example.ariz.projectsample.ContactActivity"></activity>
    </application>

</manifest>